* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  font-size: 22px;
}
header {
  display: block;
  height: 20em;
  text-align: center;
  background-color: black;
  color: yellow;
}
header a {
  text-decoration: none;
  color: purple;
}
h1 {
  font-family: 'Ultra', serif;
  font-size: 48px;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
nav a{
  text-decoration: none;
  color: yellow;
  background-color: black;
}